@charset "UTF-8";
*, *:after, *:before {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,body {
  width:100%;
  _height:100%;
  color:#555;
  font-size: 0.426rem;
  font-family:"微软雅黑", Arial;
  border:none;
  background:#f7f2ed;
}
body, div, dl, dt, p, dd,ul,
ol,li,h1,h2,h3,
h4,h5,h6,pre,form,fieldset,
input,textarea,blockquote,table,tr,th,td {
  margin:0;
  padding:0;
  border:none;
}
.clear { float:none;
  clear:both;
  height:auto;
  border:none;
}
.clear:after {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
ol,ul {
  list-style:none;
}
.fl {
  float:left;
}
.fr {
  float:right;
}
img {
  border:0;
  display: block;
}
small {
  /*font-size:0.426rem;*/
}
strong, b, h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
a {
  text-decoration:none;
  color:#555;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input ,select ,textarea ,button {
  border:0;
  -webkit-appearance:none;
  border-radius:0;
  outline: none; font-size: .36rem;
  font-family:"微软雅黑", Arial;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
  color:#a9a9a9;
}
dl,dt,dd {
  padding:0;
  margin:0;
  border:0;
}
i,em {
  font-style:normal;
}
.hide {
  display:none;
}
.line {
  height:1px;
  background:#eee;
}
/*.tline { border-top: 10px solid #f8f8f8; padding-top: 0.3rem;}*/
.look {
  overflow: hidden;
  height: auto;
}
.loading {
  height: .6rem;
  padding: .3rem;
  text-align: center;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
.wrapper {
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom:2rem;
}
/*header*/
.header{
  position: relative;
  height: 1.1rem;
  line-height: 1.1rem;
  background: #8e6a4d;
  width: 100%;
  max-width: 750px;
  color: #fff;
  font-size: 0.5rem;
  text-align: center;
}
.header span {
  position: absolute;
  background: url(../images/back_arrow.png) no-repeat center 50%;
  background-size: 100% 100%;
  width: 0.32rem;
  height: 0.56rem;
  display: inline-block;
  float: left;
  top: 0.25rem;
  left: 0.4rem;
}
.header em {
  position: absolute;
  background: url(../images/04.png) no-repeat center 50%;
  background-size: 100% 100%;
  width: 0.5rem;
  height: 0.4rem;
  display: inline-block;
  float: right;
  top: 0.34rem;
  right: 0.46rem;
}
.overhide {
  height: 12rem;
  overflow: hidden;
}
.teles {
  text-align: center;
  display: block;
  color: #ff9c00;
  background: linear-gradient(to bottom , rgba(255,255,255,0), #f7f2ed 60%);
  height: 0.2rem;
  position: relative;
  margin-top: -2rem;
  padding-top: 2.5rem;
}
.teles i {
  display: inline-block;
  width: 17px;
  margin: 0 auto;
  background: url(../images/02.png) no-repeat center bottom;
  background-size: 100% 100%;
  padding-bottom: 0.3rem;
  position: relative;
  top: -0.8rem;
}