.section-title{
  margin: 0.78rem 0.37rem;
}
.headline {
  position: relative;
  font-size: 0.53rem;
  color: #505050;
  padding-bottom: 5px;
  font-weight: 400;
  border-bottom: 1px solid #efe0d3;
}
.headline span.line{
  position: absolute;
  z-index: 9;
  left: 0;
  width: 2.19rem;
  height: 1px;
  background-color: #b48e6f;
  bottom: -1px;
}
.headline span.headlineMore {
  float: right;
  color: #8e6a4d;
  font-size: 0.42rem;
}
.headline span.headlineMore a{
  color: #8e6a4d;
}
.headlineList {
  width: 100%;
  border-bottom: 1px solid #efe0d3;
  padding-bottom:6px;
}
.headlineList a {
  display: inline-block;
}
.headlineList p {
  max-height: 1.35rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  padding-top: 10px;
}
.headlineList p a {
  font-size: 0.44rem;
  /*line-height: 0.8rem;*/
}
.headlineList ul {
  width: 100%;
  margin-top: 5px;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-flow: row nowrap;
  justify-content: space-around;
}
.headlineList ul li {
  width: 33%;
  flex: 1;
  padding: 0 0.4%;
}
.headlineList ul li a img,
.adList dl dt img{
  width: 100%;
  height: auto;
}
.adList dl {
  width: 100%;
  padding-top: 10px;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-flow: row nowrap;
  justify-content: space-around;
}
.adList dl dd {
  flex: 1;
  overflow: hidden;
  padding-right: 2%;
  vertical-align:middle;
  width:100%;
  display: flex;
  align-items: center;
  font-size: 0.44rem;
}
.adList dl dt {
  width: 32.8%;
}