@import "./type.css";
.mark {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
}
.oneTypeBox {
  position: fixed;
  z-index: 9999;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0rem;
  background: #f7f2ed;
  border-radius: 20px 20px 0 0;
  /*display: none;*/
}
.oneTypeBox h2 {
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 20px 20px 0 0;
  background: #dbc7b7;
  font-size: 0.5rem;
  color: #8e6a4d;
  text-align: center;
  font-family:"Microsoft Yahei";
}
.oneTypeBox ul {
  padding-top: 0.3rem;
  margin: 0 5%;
}
.oneTypeBox ul li em {
  width: 1.4rem;
  height: 1.4rem;
}
.oneTypeBox ul li span{
  font-size: 0.37rem;
}