@import "./commer.css";

/*列表*/
.list_cont {
  padding-bottom: 0.468rem
}

.list_cont li {
  min-height: 2.222rem;
  padding: 0.468rem 0;
  border-bottom: solid 1px #efe1d3;
}

.list_cont li.etxt h4 {
  font-size: 0.468rem;
  font-weight: normal;
  color: #cf9e79;
  height: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.list_cont li h4 b {
  font-size: 0.53rem;
  color: #8d6a4d;
}

.list_cont li p {
  font-size: 0.37rem;
  height: 1.185rem;
  line-height: 0.593rem;
  margin: .2rem 0;
  color: #999;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.list_cont li small {
  max-height: 1.4rem;
  overflow: hidden;
  display: block;
}
.list_cont li a {
  display: block;
}
.type_tag span {
  display: inline-block;
  color:#ff8d28;
  height: 0.6rem;
  font-size: .35rem;
  line-height: 0.6rem;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0.1rem 0 0;
  background: #efe5dd;
  border-radius: 5px;
  padding: 0 0.2rem;
}
.type_tag span a {
  color: #8e6a4d;
}

/*分页*/
.page {
  text-align: center;
}
.page a, .page span {
  height: 0.8rem;
  line-height: 0.8rem;
  display: inline-block;
  border-radius: 0.8rem;
  text-indent: -999px;
  font-size: 0.36rem;
  width: 0.8rem;
  vertical-align: middle;
}
.page span {
  background-image: url(../images/left.png);
  background-size:100%;
}
.page a {
  background-image: url(../images/right.png);
  background-size:100%;
}
.page span.prev {
  background-image: url(../images/right.png);
  background-size:100%;
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); 	/* IE 9 */
  -moz-transform:rotate(180deg); 	/* Firefox */
  -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
  -o-transform:rotate(180deg); 	/* Opera */
}
.page a.next {
  background-image: url(../images/left.png);
  background-size:100%;
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); 	/* IE 9 */
  -moz-transform:rotate(180deg); 	/* Firefox */
  -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
  -o-transform:rotate(180deg); 	/* Opera */
}
.page em {
  color: #999;
  font-size: 0.34rem;
  margin: 0 0.4rem;
  vertical-align: middle;
  display: inline-block;
}
.page em strong {
  font-size: 0.64rem;
  color: #af7f66;
  font-weight: bold;
  font-style: normal;
}


/*无搜索结果样式*/
.nosearch_cont{
  text-align: center;
  color: #8e6a4d;
  font-size: 16px;
  margin:30px 0 25px 0;
}
.nosearch_cont span{
  color: #df1011;
}
.hot_tit{
  font-size: 15px;
  color: #8e6a4d;
  margin-bottom:10px;
}